@charset "utf-8";

.gwidth{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

/* 头部 */
.head{
	height:39px;
	font-size:12px;
}
.head .left li{
	float:left;
	margin-top:13px;
	margin-right:16px;
}
.head .left .img1{
	margin-top:7px;
	margin-right:21px;
	margin-bottom:12px;
}
.head .left li,.head .left a{
	color:#4A4A4A;
}
.head .right li{
	float:right;
	margin-top:13px;
}
.head .right a{
	margin-left:30px;
}
/* 内容 */
.content{
	height:3130px;
}
/* 内容 1 */
.content1{
	height:230px;
}
.content1 img{
	margin:30px 0;
}
.content1 ul{
	width:530px;
	height:30px;
	border-bottom:1px solid #6C6C6C;
}
.content1 li{
	color:#F5F5F5;
	float:left;
	font-size:12px;
	margin-right:14px;
}
.content1 li a{
	color:#009D47;
}
.content1 p,.content1 ul{
	float:left;
}
.content1 p{
	color:#009D47;
	font-size:12px;
	margin-top:5px;
	margin-left:70px;
}
.content1 .box{
	float:right;
	margin-right:153px;
}
.content1 .div1{
	height:35px;
	font-size:18px;
	margin-bottom:8px;
	font-family:'微软雅黑';
}
.content1 .div1 strong{
	color:#009D47;
	font-size:40px;
	margin:0 10px;
	font-family:'Arial';
	vertical-align:middle;
}
.content1 .div2{
	font-size:12px;
}
.content1 .div2 span{
	color:#009D47;
}
/* 内容 2 */
.content2{
	height:600px;
}
.content2 .top p{
	color:#097C24;
	font-size:14px;
	font-weight:bold;
	margin-top:-35px;
}
.content2 .top h3{
	margin-top:4px;
	font-size:24px;
	font-family:'微软雅黑';
	font-weight:normal;
}
.content2 .top li{
	font-size:14px;
	line-height:24px;
}
.content2 .top span{
	color:#7B7B7B;
	margin-right:10px;
}
.content2 .bottom{
	margin-top:30px;
}
.content2 .bottom li{
	width:514px;
	font-size:14px;
	line-height:30px;
	padding-left:16px;
	background:url('../img/dian.jpg') no-repeat left center;
}
.content2 .bottom .li1{
	font-weight:bold;
}
.content2 .bottom span{
	float:right;
	color:#616060;
	font-size:12px;
	font-weight:normal;
}
.content2 .right{
	float:right;
	margin-top:-505px;
}
.content2 .right li{
	position:relative;
}
.content2 .right .ul1{
	width:410px;
	height:266px;
	margin-bottom:12px;
}
.content2 .right .ul1 h3{
	width:397px;
	height:42px;
	color:#fff;
	font-size:18px;
	padding-left:13px;
	line-height:42px;
	position:absolute;
	bottom:0; left:0;
	font-weight:normal;
	font-family:'微软雅黑';
	background-color:rgba(0, 0, 0, .5);
}
.content2 .right .ul1 p{
	width:95px;
	float:right;
	line-height:42px;
	position:absolute;
	bottom:0; right:0;
	margin-right:8px;
}
.content2 .right .ul1 span{
	width:20px;
	height:5px;
	display:inline-block;
	background-color:#000;
}
.content2 .right .ul1 .lu{
	background-color:#00AA4F;
}
.content2 .right .ul1 span:hover{
	background-color:#00AA4F;
}
.content2 .right li h5{
	color:#fff;
	font-size:22px;
	font-weight:normal;
	font-family:'微软雅黑';
	position:absolute;
	top:10px; left:10px;
}
.content2 .right .ul2,.content2 .right .ul3{
	float:left;
}
.content2 .right .li1{
	margin-bottom:6px;
}
.content2 .right .ul3{
	margin-left:5px;
}
/* 内容 3 */
.content3{
	height:260px;
	background-color:#F5F5F5;
}
.content3 .center{
	position:relative;
}
.content3 .left{
	width:488px;
}
.content3 .left h3{
	color:#097B25;
	font-size:24px;
	font-weight:normal;
	font-family:'微软雅黑';
	padding-top:34px;
	margin-bottom:14px;
}
.content3 .left1{
	width:332px;
	position:absolute;
	top:107px; left:154px;
}
.content3 .left1 h5{
	color:#000;
	font-size:18px;
	margin-bottom:6px;
	font-family:'微软雅黑';
}
.content3 .left1 .p1{
	color:#909090;
	font-size:12px;
	line-height:26px;
}
.content3 .left1 .p2,.content3 .left1 .p3{
	color:#fff;
	width:69px;
	height:23px;
	font-size:12px;
	line-height:23px;
	padding-left:13px;
}
.content3 .left1 .p2{
	position:absolute;
	top:58px; left:194px;
	background:url('../img/kuang1.jpg') no-repeat;
}
.content3 .left1 .p3{
	position:absolute;
	top:90px; left:194px;
	background:url('../img/kuang2.jpg') no-repeat;
}
.content3 .left1 .s1{
	color:#2B2B2B;
	font-size:12px;
	position:absolute;
	top:93px; left:151px;
}
.content3 .left1 .s2{
	color:#CFCFCF;
	font-size:12px;
	position:absolute;
	top:88px; left:278px;
}
.content3 .left1 img{
	margin-right:3px;
}
.content3 .right{
	width:410px;
	float:right;
	margin-top:-210px;
}
.content3 .right h3{
	color:#fff;
	height:39px;
	font-size:16px;
	line-height:39px;
	padding-left:10px;
	font-family:'微软雅黑';
	background-color:#097C25;
}
.content3 .right h5{
	height:36px;
	color:#097B25;
	font-size:14px;
	line-height:36px;
	padding-left:10px;
	font-family:'微软雅黑';
	background-color:#fff;
}
.content3 .right .ul1{
	float:right;
	margin-top:-30px;
	margin-right:13px;
}
.content3 .right .ul1 li{
	width:20px;
	height:20px;
	font-size:12px;
	line-height:20px;
	text-align:center;
	display:inline-block;
	background:url('../img/huiyuan.jpg') no-repeat;
}
.content3 .right .ul1 .li1{
	color:#fff;
	background:url('../img/lvyuan.jpg') no-repeat;
}
.content3 .right .ul1 li:hover{
	color:#fff;
	background:url('../img/lvyuan.jpg') no-repeat;
}
.content3 .right .ul2{
	height:30px;
	color:#000;
	font-size:12px;
	background-color:#EFEFEF;
}
.content3 .right .ul3,.content3 .right .ul5{
	height:30px;
	color:#8F8F8F;
	font-size:12px;
	background-color:#fff;
}
.content3 .right .ul4,.content3 .right .ul6{
	height:30px;
	color:#8F8F8F;
	font-size:12px;
	background-color:#EFEFEF;
}
.content3 .right .ul2 li,.content3 .right .ul3 li{
	float:left;
	line-height:30px;
}
.content3 .right .ul4 li,.content3 .right .ul5 li,.content3 .right .ul6 li{
	float:left;
	line-height:30px;
}
.content3 .right .pai{
	width:24px;
	margin-left:35px;
	text-align:center;
}
.content3 .right .dui{
	width:72px;
	margin-left:25px;
	text-align:center;
}
.content3 .right .sai{
	width:11px;
	margin-left:54px;
	text-align:center;
}
.content3 .right .sheng{
	width:10px;
	margin-left:25px;
	text-align:center;
}
.content3 .right .ping{
	width:10px;
	margin-left:25px;
	text-align:center;
}
.content3 .right .fu{
	width:10px;
	margin-left:25px;
	text-align:center;
}
.content3 .right .fen{
	width:24px;
	margin-left:25px;
	text-align:center;
}
/* 内容 4 */
.content4{
	height:460px;
}
.content4 h1{
	color:#097B25;
	font-size:38px;
	line-height:115px;
	font-family:"微软雅黑";
}
.content4 h1 span{
	color:#808080;
	font-size:22px;
	margin-left:7px;
	font-weight:normal;
	font-family:"Arial";
	vertical-align:middle;
}
.content4 hr{
	width:627px;
	height:1px;
	border:none;
	float:right;
	margin-top:-57px;
	border-top:1px solid #ccc;
}
.content4 li{
	width:182px;
	height:320px;
	float:left;
	margin-right:22px;
	background-color:#F5F5F5;
}
.content4 .li1{
	margin-right:0;
}
.content4 li h6{
	height:50px;
	color:#fff;
	font-size:16px;
	text-align:center;
	font-weight:normal;
	font-family:'微软雅黑';
	padding:8px 22px 0 16px;
	background-color:#2B2B2B;
}
.content4 li p{
	width:150px;
	color:#656565;
	font-size:12px;
	margin-top:14px;
	margin-left:14px;
	line-height:22px;
	margin-bottom:27px;
}
.content4 li a{
	color:#097B25;
	font-size:12px;
}
.content4 li .img1{
	padding-left:14px;
}
.content4 li .img2{
	margin-top:14px;
}
.content4 li .img3{
	margin-top:3px;
}
/* 内容 5 */
.content5{
	height:620px;
}
.content5 h1{
	color:#097B25;
	font-size:38px;
	line-height:115px;
	font-family:"微软雅黑";
}
.content5 h1 span{
	color:#808080;
	font-size:22px;
	margin-left:7px;
	font-weight:normal;
	font-family:"Arial";
	vertical-align:middle;
}
.content5 hr{
	width:670px;
	height:1px;
	border:none;
	float:right;
	margin-top:-57px;
	border-top:1px solid #ccc;
}
.content5 .left{
	width:79px;
	height:440px;
	background-color:#000;
}
.content5 .left li{
	color:#fff;
	font-size:22px;
	line-height:55px;
	margin-bottom:20px;
	text-align:center;
	font-family:'Lucida Handwriting';
}
.content5 .left .li1{
	background-color:#097C25;
}
.content5 .left li:hover{
	background-color:#097C25;
}
.content5 .left,.content5 .right{
	float:left;
}
.content5 .right li{
	float:left;
}
.content5 .right p{
	width: 311px;
	height:418px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	margin:0 1px;
	padding:22px 0 0 9px;
	font-family:'Arial';
	background:url('../img/content5-1.jpg') no-repeat;
}
.content5 .right .li1{
	width:199px;
	margin-right:1px;
}
.content5 .right .li2{
	width:198px;
	margin-right:1px;
}
.content5 .right .li3{
	width:199px;
}
.content5 .right img{
	margin-bottom:1px;
}
/* 内容 6 */
.content6{
	height:520px;
	position:relative;
	margin-bottom:30px;
	background:url('../img/beijing.jpg');
}
.content6 .a1{
	color:#434343;
	font-size:70px;
	position:absolute;
	top:215px; left:190px;
}
.content6 .top{
	padding-top:80px;
}
.content6 .top li{
	float:left;
	color:#fff;
	width:123px;
	height:37px;
	font-size:24px;
	line-height:37px;
	margin-right:1px;
	font-weight:bold;
	text-align:center;
	font-family:'微软雅黑';
	background-color:#000;
}
.content6 .top .li1{
	height:163px;
	position:relative;
	background:url('../img/content6-hover.jpg');
}
.content6 .top li:hover{
	background:url('../img/content6-hover.jpg');
}
.content6 .bottom{
	width:500px;
	height:246px;
	margin-top:60px;
	margin-left:-250px;
	padding-top:24px;
	background:url('../img/beijing1.jpg');
}
.content6 .bottom li{
	color:#fff;
	font-size:14px;
	margin-left:20px;
	padding-left:10px;
	line-height:28px;
	background:url('../img/content6dian.jpg') no-repeat left center;
}
.content6 .bottom .li2{
	font-weight:bold;
}
.content6 .img1{
	width:227px;
	margin-top:60px;
}
.content6 .img1 .img2{
	margin:0 10px 10px 8px;
}
.content6 .img1 .img3{
	margin:0 10px 0 8px;
}
.content6 .img4{
	width:252px;
	margin-top:60px;
	margin-left:15px;
}
.content6 .bottom,.content6 .img1,.content6 .img4{
	float:left;
}
.content6 .a2{
	color:#434343;
	font-size:70px;
	position:absolute;
	top:215px; right:190px;
}
/* 内容 7 */
.content7{
	height:440px;
}
.content7 h1{
	color:#097B25;
	font-size:38px;
	line-height:115px;
	font-family:"微软雅黑";
}
.content7 h1 span{
	color:#808080;
	font-size:22px;
	margin-left:7px;
	font-weight:normal;
	font-family:"Arial";
	vertical-align:middle;
}
.content7 hr{
	width:630px;
	height:1px;
	border:none;
	float:right;
	margin-top:-57px;
	border-top:1px solid #ccc;
}
.content7 .bottom{
	height:330px;
}
.content7 .bottom .left,.content7 .bottom img,.content7 .bottom p{
	float:left;
}
.content7 .bottom .left{
	width:288px;
	height:330px;
	position:relative;
	background-color:#F6F6F6;
}
.content7 .bottom .left .span1{
	color:#097C25;
	font-size:20px;
	margin-left:19px;
	font-weight:bold;
	position:absolute;
	top:156px; left:0;
}
.content7 .bottom .left p{
	width:288px;
	font-size:14px;
	text-align:center;
}
.content7 .bottom .left img{
	margin-top:29px;
	margin-left:30px;
}
.content7 .bottom .left .span2{
	color:#097C25;
	font-size:20px;
	margin-left:19px;
	font-weight:bold;
	position:absolute;
	top:156px; right:19px;
}
.content7 .bottom .p1{
	width:186px;
	height:273px;
	color:#fff;
	font-size:12px;
	line-height:24px;
	padding:57px 26px 0 29px;
	background:url('../img/content7-lv.jpg') no-repeat;
}
.content7 .bottom .p1 strong{
	font-size:18px;
	font-family:'微软雅黑';
	font-weight:bold;
}
/* 底部 */
.footer{
	height:150px;
	margin-top:100px;
	text-align:center;
}
.footer li{
	font-size:12px;
	line-height:24px;
}